title{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

html {
    scroll-behavior: smooth;
    /*Adds smooth scrolling instead of snapping to element*/
}
h1{
  color: white;
}
icon{
  color: white;
}
body{
    background: linear-gradient(to bottom, #74ABE2, #5563DE);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

  /* html, body {
    height: 100%;
    overflow: hidden;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #74ABE2, #5563DE);
    font-family: 'Ropa Sans', sans-serif;
  } */

a{
    text-decoration: none;
    color: #ffffff;
}

/*top menu*/
#from-top-scroll{
    text-align: center;

}

#from-top-scroll ul li{
    display: inline-block;
    margin: 0 10px;
}

/*left menu (needs to appear only after screen is 
past programming page*/

#from-left-scroll ul{
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    padding:0;
    z-index:1;
    opacity: 0.5;
    transition: padding 0.3s ease-in;
}

#from-left-scroll ul:hover{
    padding: 0 10px;
    opacity: 1;
    transition: padding 0.3s ease-in;
}
#from-left-scroll ul li{
    list-style:none;
    margin: 0 10px;
}

#from-left-scroll ul:hover{
    position:fixed;
    top:50%;
    transform: translateY(-50%);
    margin:0;
    z-index:1;

}

#from-left-scroll ul li{
    list-style:none;
    
}

#from-left-scroll ul li:hover{
    background: #a8dadc;
    opacity: 1;
    transition: opacity o.3s ease-in-out;
}

#from-left-scroll ul li a{
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    list-style: none;
    font-size: 15px;
    background: #a8dadc;
    width: 140px;
    color: #262626;
    margin: 4px 0;
    padding-left: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: normal;

}

#container{
    width: 100%;
    height: 100vh;
    
}

#container div{
    position: relative;
    width: 100%;
    height: 100%;

}

#container div#programming_page{
    
}
#container div#graphic_design_page{
    
}
#container div#music_page{
    
}

/* #container div#electrical_page{
    background-color: rgb(212, 216, 134);
} */

#element {
    height: 80px;
    width: 80%;
    background-color: red;
  
    scroll-margin-block-start: 110px;
    /*Adds margin to the top of the viewport*/
    
    scroll-margin-block-end: 110pxx;
    /*Adds margin to the bottom of the viewport*/
}
  
.header{
    text-align: center;
}

.btn_controls {
    display: none;
}
.btn-nav-vertical.top,
.btn-nav-vertical.fin {
    display: none;
}


* {
    box-sizing: border-box;
  }
  
  .slider {
    width: 100px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    /* background: #eee; */
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slides > div:target {
  /*   transform: scale(0.8); */
  }
  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }

  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  /* Don't need button navigation */
  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }